name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install latest gcc
      run: |
        sudo apt update
        sudo apt install -y g++ cmake

    - name: Check compiler version
      run: g++ --version

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build -j

    - name: Run tests
      run: ./build/lft2
