name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install gcc-15
      run: |
        sudo apt update
        sudo apt install -y g++-15 cmake
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-15 100
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-15 100

    - name: Check compiler version
      run: g++ --version

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build -j

    - name: Run tests
      run: ./build/lft2
